.title {
    font-size: 3rem;
    margin-bottom: 5px;
    margin-top: 150px;
}

.hero {
    min-height: 600px;
}

.heroContent {
    padding-top: 70px;
    text-align: center;
    margin: 20px;
}

.description {
    font-size: 1.25rem;
}

.contactButton {
    margin-top: 70px;
}
.contactLink {
    background-color: var(--color-secondary);
    text-decoration: none;
    color: var(--color-background);
    padding: 10px;
}

.projectContainer {
    background-color: var(--color-primary);
    color: var(--color-background);
}
