.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    max-width: 900px;
    margin: auto;
    padding: 35px;
    background: var(--color-primary);
    color: var(--color-background);
}

.projectImage {
    width: 100%;
    max-width: 420px;
    min-width: 220px;
    border-radius: 8px;

    align-self: center;
}

.body {
    align-self: center;
    display: grid;
    gap: 30px;
}

.itemTitle {
    margin: 0;
    font-size: 1.25rem;
}

.desc {
    margin: 0;
    font-size: 0.9rem;
    line-height: 1.5;
}

.cta {
    text-decoration: none;
    background: var(--color-secondary);
    color: var(--color-background);
    padding: 8px 12px;
    border-radius: 6px;
}

@media (max-width: 720px) {
    .card {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .body {
        justify-items: center;
    }
    .projectImage {
        max-width: 500px;
    }
}
